<div class="inner-box">
  <h1>Travel Karo</h1>
  <h3>Bag Lo Aur Chal Pado</h3>
  <img
    class="inner-box-image"
    src="../../../assets/image/527eb4642bea4b7fa287e9bd427ca7b2 (5)-PhotoRoom.png-PhotoRoom.png"
    alt="logo"
  />
  <div class="mt-4 inner-box-form">
    <div>Username:</div>
    <input
      type="email"
      [(ngModel)]="username"
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
    />
    <div>Password:</div>
    <input type="password" [(ngModel)]="password" />
    <div *ngIf="error" style="color: red">Invalid Credential</div>
    <input
      type="submit"
      value="Log In"
      class="btn btn-primary inner-box-login mt-3"
      (click)="getCheckUserValidation()"
    />
    <a href="http://" target="_blank" rel="noopener noreferrer"
      >Forgot Password?</a
    >
  </div>
  <a style="color: blue; cursor: pointer" (click)="onFlip()">Register Now</a>
</div>
